
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body {
    background-color: #F2F2F2;
}

#header {
    background-image: linear-gradient(to right, #465AB8, #261360);
    color: whitesmoke;
}

#searchBtn {
    display: block;
    text-decoration: none;
    color: #6891E3;
}

#search-container {
    background-color: #FAFAFA;
}

#today-container {
    background-color: #FAFAFA;
}

#five-contianer {
    background-color: #FAFAFA;
}

.card-kuler {
    background-color: #3B4859;
}

input {
    background-color: #FFFFFF;
}

