
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#header {
    background-image: linear-gradient(to right, #465AB8, #261360);
    color: whitesmoke;
}

#searchBtn {
    display: block;
    text-decoration: none;
    color: black;
}

#today-container {
    /* background-color: #ECECEC; */
}

.card-kuler {
    background-color: #3B4859;
}